<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Pick Your Plant</h1>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <ul class="list-group list-inline">
        <% @plants.each do |plant| %>

            <li class="list-group-item">
              <%= link_to plant.name, plant %>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_plant_path(plant) %>
                <%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Plant', new_plant_path %>
