<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @plant.name %>
</h1>


<h2>
  <strong>Friends:</strong>
  <% for friendship in @plant.friendships %>
    <li>
      <%=h friendship.friend.name %>
      <%= friendship.id %>
      <%= link_to 'Remove Friend', friendship_path(:friend_id => friendship.friend.id), :method => :delete %>

    </li>
    <% end %>
</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potential_friends.each do |potential_friend| %>

      <% if (@plant.name != potential_friend.name) %>
        <% if (!@plant.friendships.exists?(:friend => potential_friend.id)) %>

          <tr>
            <td><%= potential_friend.name %></td>
            <td><%= link_to 'Add Friend', friendships_path(:plant => @plant, :friend => potential_friend.id), :method => :post %></td>
          </tr>

        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
