



<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 plantShow">
      <h1><%= @plant.name %></h1>

      
         <div class="col-sm-offset-1">
           <br>
           <div class="plantStats">
             <h2>Type:</h2>
             <p><%= @plant.family %></p>
           </div>
           <br>
           <div class="plantStats">
             <h2>Sun:</h2>
             <p><%= @plant.sun %></p>
           </div>
           <br>
           <div class="plantStats">
             <h2>Spacing:</h2>
             <p> <%= @plant.spacing %></p>
           </div>
        </div>



    </div>



    <!-- friends and enemies info here -->

    <div class="col-sm-9">

      <br>
      <br>
      <br>
      <div class="row">

      <!-- companions -->
      <div class="col-sm-6">

        <h2 class="showListTitle">Friends</h2>
        <div class="col-sm-offset-1">
          <ul class="list-group list-inline text-center">
            <% for friendship in @plant.friendships %>
              <li class="list-group-item">
                <%= link_to friendship.friend.name, friendship.friend %>
                <% if user_signed_in? %>
                  <%= link_to 'Remove Friend', friendship_path(:friend_id => friendship.friend.id, :sich => 1), :method => :delete %>
                <% end %>
              </li>
            <% end %>

            <% for plant in @plant.inverse_friends %>
              <li class="list-group-item">
                <%= link_to plant.name, plant %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <!-- antagonists -->
      <div class="col-sm-6">

        <h2 class="showListTitle">Enemies</h2>
        <div class="col-sm-offset-1">
          <ul class="list-group list-inline text-center">
            <% for antagonism in @plant.antagonisms %>
              <li class="list-group-item">
                <%= link_to antagonism.antagonist.name, antagonism.antagonist %>
                <% if user_signed_in? %>
                  <%= link_to 'Remove Enemy', antagonism_path(:antagonist_id => antagonism.antagonist.id, :sich => 1), :method => :delete %>
                <% end %>
              </li>
            <% end %>

            <% for plant in @plant.inverse_antagonists %>
              <li class="list-group-item">
                <%= link_to plant.name, plant %>
              </li>
            <% end %>
        </div>


      </div>

    </div>
    </div> <!-- end of friends and enemies info -->

  </div>
</div>







<!-- end of added in content -->


<% if user_signed_in? %>
  <h2>Plants</h2>
  <ul>
    <% @potential_friends.each do |potential_friend| %>
      <% if (@plant.name != potential_friend.name) %>
        <% if (!@plant.friendships.exists?(:friend => potential_friend.id)) %>
          <% if (!@plant.antagonisms.exists?(:antagonist => potential_friend.id)) %>
            <% if (!@plant.inverse_antagonists.exists?(potential_friend.id)) %>
              <% if (!@plant.inverse_friends.exists?(potential_friend.id)) %>
                <li>
                  <%= potential_friend.name %>
                  <% if user_signed_in? %>
                    <%= link_to 'Add Friend', friendships_path(:plant => @plant, :friend => potential_friend.id), :method => :post %>
                    <%= link_to 'Add Antagonist', antagonisms_path(:plant => @plant, :antagonist => potential_friend.id), :method => :post %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>


  <%= link_to 'Edit', edit_plant_path(@plant) %> |
  <%= link_to 'Back', plants_path %>
  <p id="notice"><%= notice %></p>

<% end %>
